<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<li th:fragment="tree(targetNotebook, notebookList)" th:each="notebook : ${notebookList}" th:class="${#lists.isEmpty(notebook.childList) and notebook.id == targetNotebook.id} ? 'selected-item' : ''">
    <a th:href="@{|/notebook/${notebook.id}|}" th:if="${#lists.isEmpty(notebook.childList)}" th:text="${notebook.name}"></a> <!-- 하위 노트가 없는 노트 -->

    <details th:unless="${#lists.isEmpty(notebook.childList)}" > <!-- 하위 노트가 있는 노트 -->
        <summary th:class="${notebook.id == targetNotebook.id} ? 'selected-item' : '' ">
            <a th:href="@{|/notebook/${notebook.id}|}" th:text="${notebook.name}"></a>
        </summary>
        <ul>
            <li th:if="${#lists.isEmpty(notebook.childList)}" th:replace="~{/fragments :: tree(${targetNotebook}, ${notebook.childList})}"></li>
        </ul>
    </details>
</li>
</body>
</html>